hr {
  border-top: 1px solid #717171;
}

.btn-info {
  background-color: #e37500 !important;
  color: #fff !important;
  border: 1px #ff8200 !important;
}

.btn-info:hover {
  background-color: #ff8200 !important;
  color: #fff !important;
  border: 1px #e37500 !important;
}

.skin-black .main-header .logo {
  background-color: #ff8200 !important;
  color: #fff !important;
  border-right: 1px solid #e37500 !important;
}

.skin-black .main-header .navbar {
  background-color: #ff8200 !important;
  color: #fff !important;
}

.skin-black .main-header .navbar .sidebar-toggle {
  background-color: #ff8200 !important;
  color: #fff !important;
  border-right: 1px solid #e37500 !important;
}
